.hero
    display: grid
    grid-template-columns: repeat(12, 1fr)
    .sidebar
        grid-column: span 2
        background-color: #ffb7b1
    .content
        grid-column: 2/ span 12
        background-color: #b2bbc5