doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width, user-scalable=no')
        //- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo|Montserrat:300,400,500,700,800&amp;subset=cyrillic-ext")
        link(rel="stylesheet" href="static/css/main.min.css")
        title Paleolithic Pencil
    body
        .wrapper
            .hero
                .content__img
                    img.image-origin(src="static/img/pencil-img.png")
                    img.image-shadow(src="static/img/pencil-img.png")
                .nav
                    .logo Si
                    ul.nav__items
                        li.nav__item
                            a.nav__item--link Paleolithic
                        li.nav__item
                            a.nav__item--link Neolithic
                .sidebar
                    |Sidebar
                .content
                    |Content


        script(type="text/javascript" src="static/js/libs.min.js")
        script(type="text/javascript" src="static/js/common.js")

