section.certificate#certificate
    .container
        h2 Cертификаты
        .certificate__items
            .certificate__item
                a.product__item--link(href="#")
                    img.product__item--img(src="static/img/certificates/cert-1.jpg")
            .certificate__item
                a.product__item--link(href="#")
                    img.product__item--img(src="static/img/certificates/cert-2.jpg")