footer.footer
    .container
        .footer__contacts#contacts
            .footer__item
                span
                    |Украина
                    br
                    |г.Киев
                    br
                    |пр-т Краснозвездный,&nbsp126г
                    br
                    |пр-т Победы,&nbsp20
            .footer__item
                .footer__phones
                    span 044 585 99 20
                .footer__phones
                    span 044 522 58 14
                .footer__phones
                    span 063 719 27 73
            .footer__item
                a(href="mailto:asfour@asfour.com.ua")
                    span  asfour@asfour.com.ua
            .footer__item
                a(href="mailto:crystal@asfour.com.ua")
                    span  crystal@asfour.com.ua