section.form-section
    .container
        .form-section__head
            h1 Get Your Facebook Analysis Now
            p Enter your details below
        .btn-down: a.arrow-down: i.fas.fa-angle-down
        .form-container
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text: p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, necessitatibus.
                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")
                a.button.form__button.button--red(href="#") Submit Now

