header.top#top
    .hero
        .hero__slider
            img.hero__slider--image(src="static/img/hero/hero-img-6.jpg")
            img.hero__slider--image(src="static/img/hero/hero-img-4.jpg")
            img.hero__slider--image(src="static/img/hero/hero-img-5.jpg")
            img.hero__slider--image(src="static/img/hero/hero-img-9.jpg")
        .hero__controls
            .hero__captions
                .hero__captions--caption This is a caption for slide 1
                .hero__captions--caption This is a caption for slide 2
                .hero__captions--caption This is a caption for slide 3
                .hero__captions--caption This is a caption for slide 4
        .pagination

        .hero__title#hero-title
            a.logo: img.logo__picture(src="static/img/asfour-logo-white.svg")
            .mobile__menu
                button.mobile__menu--icon.cbutton--effect-boris
                        |MENU
            nav.nav
                a.nav__link.nav__link--active(href="index.html") Главная
                a.nav__link(href="#product" data-scroll) Продукция
                a.nav__link(href="#video" data-scroll) Видео
                a.nav__link(href="#certificate" data-scroll) Сертификаты
                a.nav__link(href="#map" data-scroll) Карта
                a.nav__link(href="#contacts" data-scroll) Контакты

            .contacts
                .contacts__item.contacts__address
                    span Украина,&nbsp г.Киев
                    span &nbspпр-т Лобановского,&nbsp126г
                    span &nbspпр-т Победы,&nbsp20

                .contacts__item.contacts__phones
                    .contacts__phone.contacts__phone--phone
                        span 044 585-99-20
                    .contacts__phone.contacts__phone--fax
                        span 044 522-58-14
                    .contacts__phone.contacts__phone--mobile
                        span 063 719-27-73

                a.contacts__item.contacts__mail--item(href="mailto:asfour@asfour.com.ua")
                        span  asfour@asfour.com.ua
                a.contacts__item.contacts__mail--item(href="mailto:crystal@asfour.com.ua")
                        span  crystal@asfour.com.ua

            .socials
                .socials__item
                    i.fi.fi-facebook
                .socials__item
                    a(href="https://youtu.be/NFNoRPJAuw8")
                        i.fi.fi-youtube-play
                        
                .socials__item
                    i.fi.fi-instagram


            a.arrow(href="#product" data-scroll)



