section.map.scrolloff#map
    h2 Карта
    iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d34199.06296243858!2d30.464512383431163!3d50.425069516614506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zQVNGT1VSIENSWVNUQUwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sua!4v1507963468257" allowfullscreen="")