section.product
    .container
        h2 Продукция
        .product__items#product

            include ../mixins.pug

            +product-card(
                'Статуэтки',
                'figurines.html',
                'static/img/product/figurines.jpg',
                'static/img/product/figurines-thumb-1.jpg',
                'static/img/product/figurines-thumb-2.jpg',
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?',
                'http://asfour.com.ua/catalogs/Crystal_Figurines.pdf',
                'http://asfour.com.ua/catalogs/Diamond Collection Catalog.pdf',
                'Каталог 1 (6,73mb)',
                'Каталог 2 (13,3mb)')

            +product-card(
                'Хрустальные подвески',
                'parts.html',
                'static/img/product/crystal-parts.jpg',
                'static/img/product/crystal-parts.jpg',
                'static/img/product/crystal-parts.jpg',
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?',
                '',
                '')

            +product-card(
                'Хрустальная плитка',
                'crys-tail.html',
                'static/img/product/tile-1.jpg',
                'static/img/product/tile.jpg',
                'static/img/product/tile.jpg',
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?',
                '',
                '')

            +product-card(
                '3D Сувениры',
                '#',
                'static/img/product/3D.jpg',
                'static/img/product/chandeliers.jpg',
                'static/img/product/chandeliers.jpg',
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?',
                '',
                '')

            +product-card(
                'Светильники',
                'chandeliers.html',
                'static/img/product/chandeliers.jpg',
                'static/img/product/chandeliers.jpg',
                'static/img/product/chandeliers.jpg',
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?',
                '',
                '')

            +product-card(
                'Стразы',
                '#',
                'static/img/product/fancy-stones-1.jpg',
                'static/img/product/fancy-stones-1.jpg',
                'static/img/product/fancy-stones-1.jpg',
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?',
                '',
                '')

