section.video#video
    .container
        h2 Видео презентация
        .video__present
            iframe(src="https://www.youtube.com/embed/NFNoRPJAuw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        //- a.video__button(href="https://youtu.be/NFNoRPJAuw8" data-source="https://youtu.be/NFNoRPJAuw8")
    