section.work
    .container
        .work__head
            h1 Our Work
            p Check Our approches step by step ( how we do it )
            .divider.work__head--divider
        .work__items
            .work__item
                .work__item--title
                    .work__item--title-icon
                        i.fab.fa-telegram-plane
                    h1 Project Name
                    h3 Text
            .work__item
                img.work__item--img(src="../images/work-1.jpg")
            .work__item
                .work__item--title
                    .work__item--title-icon
                        i.fab.fa-telegram-plane
                    h1 Project Name
                    h3 Text
            .work__item
                img.work__item--img(src="../images/work-2.jpg")
            .work__item
                img.work__item--img(src="../images/work-3.jpg")
            .work__item
                .work__item--title
                    .work__item--title-icon
                        i.fab.fa-telegram-plane
                    h1 Project Name
                    h3 Text
            .work__item
                img.work__item--img(src="../images/work-4.jpg")
            .work__item
                .work__item--title
                    .work__item--title-icon
                        i.fab.fa-telegram-plane
                    h1 Project Name
                    h3 Text
            